DATABASE_URL="postgresql://toprecruta:toprecruta@localhost:5434/toprecruta?schema=public"

PORT=3000
CORS_ORIGIN="http://localhost:4200"

JWT_SECRET="toprecruta_secret_key"
JWT_EXPIRES_DAYS=7

AUTH_USERNAME="admin"
AUTH_PASSWORD="123456"